/* Write your CSS here */
.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo-name {
  color: #000000;
  font-size: 14px;
  margin-right: 20px;
  /* width: 250px; */
}

.delete-button {
  border-color: #ff0b37;
  color: #ff0b37;
  border-radius: 8px;
  border-width: 2px;
  padding: 2px;
  width: 60px;
  background-color: white;
  outline: none;
  cursor: pointer;
}
