/* Write your CSS here */
.app-background {
  background-color: #ffc2a0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto';
}

.todos-container {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #ff8542;
  font-size: 30px;
}

.items-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
